# =============== #
# Unity generated #
# =============== #
CaptainObvious/Temp/
CaptainObvious/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
CaptainObvious/ExportedObj/
CaptainObvious/obj/
*.svd
*.userprefs
CaptainObvious//*.csproj
*.pidb
*.suo
CaptainObvious//*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db